<div class="contenido">
  
    <h4>Nueva Tarea</h4>
    <hr>

    <form autocomplete="off" (ngSubmit)="guardar( forma )" #forma="ngForm">

        <div class="form-group row">
            <label class="col-2 col-form-label">Descripcion</label>
            <div class="col-8">
              <input class="form-control" 
                     type="text" 
                     placeholder="descripcion" 
                     name="descripcion" 
                     [ngModel]="tarea.descripcion" 
                     required minlenhth="5" 
                     [class.is-invalid]= "descripcion.invalid && descripcion.touched" 
                     required
                     #descripcion="ngModel">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label">Vigente</label>
            <div class="col-8">
              <input class="form-control" 
                     type="text" 
                     placeholder="Vigente" 
                     name="vigente" 
                     [ngModel]="tarea.Vigente" 
                     required minlenhth="5" 
                     [class.is-invalid]= "vigente.invalid && vigente.touched" 
                     required
                     #vigente="ngModel">
            </div>
          </div>
    
        <div class="form-group row">
          <label class="col-2 col-form-label">&nbsp;</label>
          <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
              Guardar
            </button>
          </div>
        </div>
    
      </form>


    <div class="row listaProductos">
        <div class="col-12 " *ngFor="let tarea of resp.response">
            <div class="tarea">

                <div class="detalleProducto">

                    Descripcion: {{tarea.descripcion}}

                </div>

            </div>
        </div>
    </div>



</div>